body {
  background-color: #f2dad3;
}

.index-bg {
  background-color: #f2dad3;
}

.about-bg {
  background-color: #f2dad3;
}

.id-bg {
  background-color: #f2dad3;
}

.collection-bg {
  background-color: #f2dad3;
}
